.header
	background-color: #EAEAEA
	color: #333
	
.money
	color: #ff795a
	margin-left: 16px
	
.money-text
	font-size: 12px
	
.account
	font-size: 20px
	color: #333
	
.picker
	background-color: white
	width: 100%
	
.btn
	height 30px
	line-height: 30px
	background-color: white
	border-radius: 15px
	font-size: 14px
	margin-left: 10px
	margin-top: 12px
	margin-bottom: 12px
	
.sure
	margin-top: 10px
	
.w-100
	width: 100%

.w-50
	width: 50%
	
.pt-30
	padding-top: 30px
	
.pb-10
	padding-bottom: 10px
	
.count
	color: #7A7A7A
	margin-top: 12px

.count dl
	margin-right: 10px
	
.type
	position: absolute
	top: 10px
	left: 12px
	color: #333
	
.dropdown
	font-size: 14px
	