.inner-main
	height: 100%
	padding-top: 96px

.header
	background-color: #EAEAEA
	color: #333
	height: 40px
	line-height: 40px
	
.mint-search
	height: auto
	
.search
	position: fixed
	z-index: 10
	top: 40px
	margin: 0 auto
	width: 100%
	max-width: 750px
	
.portnav
	position: fixed
	bottom: 20px
	height: 40px
	line-height: 40px
	background: rgba(0,0,0,1)
	opacity: 0.7
	border-radius: 5px
	
.portnav .iconfont
	color: white
	font-size: 20px
	padding-left: 10px
	padding-right: 10px
	border-right: white solid 1px
	position: relative
	top: -3px
	
.badge
	position: absolute
	top: -10px
	left: 24px
	height: 14px
	line-height: 14px
	font-size: 10px
	padding-left: 2px
	padding-right: 2px