.inner-main
	min-height: 100%
	background-color: #f5f5f5
	padding-bottom: 60px
	
.mint-swipe	
	height: 376px	
	
.back
	position: fixed
	top: 10px
	z-index: 9
	width: 26px
	height: 26px
	line-height: 18px
	padding: 0
	margin-left: 10px
	background:rgba(255,255,255,0.6)
	border-radius: 100%
	
.good-info
	padding: 15px 0px 0px 0px
	background-color: white
	
.price
	color: #FF6354
	font-size: 20px
	
.name
	margin-block-start: 0em
	margin-block-end: 0em
	color: #696969
	line-height: 38px
	
.formation
	color: #FF6354
	border: #FF6354 solid 1px
	border-radius: 3px
	margin-right: 10px
	
.mr-20
	margin-right: 20px
	
.color-grey
	color: #b3b3b3
	
.mint-navbar .mint-tab-item.is-selected
	color: #FF6354
	border: none
	
.good-wrapper
	background-color: white
	padding-left: 10px
	padding-right: 10px
	padding-bottom: 10px
	
.good-detail
	line-height: 30px
	
.good-detail dt
	width: 70px
	
.footer
	display: flex
	position: fixed
	bottom: 0
	width: 100%
	max-width: 750px
	height: 40px
	line-height: 40px
	
.shopcar
	width: 80px
	background-color: white
	
.shopcar .iconfont
	font-size: 30px
	
.shopcar-num
	position: absolute
	right: 22px
	top: 4px
	width: 14px
	height: 14px
	line-height: 14px
	color: white
	background-color: #FF6354
	border-radius: 100%
	font-size: 10px
	
.add
	flex: 1
	border-radius: 0
	height: 40px
	line-height: 40px
	
.addicon
	font-size: 12px
	margin-right: 10px
	border: white solid 2px
	border-radius: 100%
	padding: 1px
	
.store-area
	background-color: #f5f5f5
	padding-bottom: 20px
	
.store-wrapper
	height: 40px
	line-height: 40px
	background-color: #fafafa
	
.pl-10
	padding-left: 10px
	
.pr-10
	padding-right: 10px
	
.popup
	width: 100%
	max-width: 750px
	
.mint-popup
	border-top-left-radius: 5px
	border-top-right-radius: 5px
	
.pop-wrapper
	padding: 10px
	
.pop-header
	margin-bottom: 6px
	font-size: 16px	
	
.color-7a7a7a
	color: #7a7a7a
	
.lotnum-area
	height: 300px
	overflow: auto
	
.lotnum-wrapper
	display: flex	
	padding-top: 15px
	padding-bottom: 15px
	
.lotnum
	margin-right: 20px
	border-radius: 3px
	padding-left: 5px
	padding-right: 5px
	width: 140px
	
.lotnum-def
	background-color: #f5f5f5
	border: #f5f5f5 solid 1px
	
.lotnum-cur
	background-color: #FEF0F0
	color: #E43A3D
	border: #E43A3D solid 1px
	
.count-wrapper
	flex: 1
	
.count-opera
	font-size: 20px
	
.count-count
	width: 50px
	border: none
	font-size: 16px

.mt-10
	margin-top: 10px
	
.pop-btn
	width: 50%
	float: left
	border-radius: 0
	height: 40px
	line-height: 40px
	
.pop-btn-sure
	background: linear-gradient(-90deg,rgba(255,121,90,1),rgba(228,58,61,1))
	
.bread
	height: 40px
	line-height: 40px
	
.bread dl
	width: 32%
	
.color-E43A3D
	color: #E43A3D
	
.portnav
	position: fixed
	bottom: 20px
	height: 40px
	line-height: 40px
	background: rgba(0,0,0,1)
	opacity: 0.7
	border-radius: 5px
	
.portnav .iconfont
	color: white
	font-size: 20px
	padding-left: 10px
	padding-right: 10px
	border-right: white solid 1px
	position: relative
	top: -3px
	
.badge
	position: absolute
	top: -10px
	left: 24px
	height: 14px
	line-height: 14px
	font-size: 10px
	padding-left: 2px
	padding-right: 2px	
	
.price-input,.price-input input
	background-color: #F7F9FA
	padding-left: 10px
	margin-left: -10px
	margin-right: -10px
	
.sure
	background-color: white
	border: #eee solid 1px
	margin-right: 10px
	
.medicine-name
	font-size: 16px	