.inner-main
	height: 100%
	background-color: white

.header
	background-color: #EAEAEA
	color: #333
	
.btn
	background: -webkit-linear-gradient(left, #FF795A , #E43A3D)
	background: -o-linear-gradient(right, #FF795A, #E43A3D)
	background: -moz-linear-gradient(right, #FF795A, #E43A3D)
	background: linear-gradient(to right, #FF795A , #E43A3D)
	width: 170px
	height: 44px
	color: white
	margin-top: 40%	