a{
	text-decoration: none;
}

.mint-header-title{
	font-size: 18px;
}

.mine-cell-mine .mint-cell-wrapper{
	background-size: 120% 0px	
}

dl{
	margin-block-start: 0em;
  margin-block-end: 0em;
}
	
dd{
  -webkit-margin-start: 0px;
}
	
.picker-items .picker-slot:nth-child(3){
	display: none;
}

.search .mint-searchbar{
	background-color: #eaeaea;
}

.search-good .mint-searchbar{
	padding: 0;
}

.tab-nav .mint-tab-item-label{
	font-size: 15px;
}

.pop-wrapper .mint-cell-wrapper{
	font-size: 14px;
	padding: 0
}
	
.form-login .mint-field-core{
	line-height: 3.4;
}

.form-login .mint-field-wrapper{
	backgroupnd-image: linear-gradient(180deg, #ffffff, #ffffff 50%, transparent 50%);
	backgroupnd-image: -webkit-gradient(180deg, #ffffff, #ffffff 50%, transparent 50%);
}

.login-field .mint-field-core{
	text-indent: 20px;
}

.login-field .mint-field-other{
	position: absolute;
	top: 22px;
	left: 10px;
	right: auto;
}

.form-login .mint-cell-wrapper{
	background-position: bottom left
}

.good-cell .mint-cell-wrapper{
	background-position: bottom left;
}
	
.second-name .mint-cell-text{
	color: #959595;
}
.mint-searchbar-inner .mintui-search{
	font-size: 16px;
	margin-left: 4px;
}

.mint-searchbar-inner{
	padding: 6px;
}

.back{
	font-size: 20px;
}

.user-info .mint-cell-wrapper, .user-password .mint-cell-wrapper, .user-account .mint-cell-wrapper{
	background-position: bottom left;
}

.user-info .mint-cell-label{
	margin-bottom: 8px;
	font-size: 16px;	
	line-height: 30px;
	color: #333;
}

.user-info .mint-cell-text,.user-account .mint-cell-text{
	font-size: 14px;
	color: #777;
}

.price-input,.price-input input{
	background-color: #F7F9FA;
}

.mine-cell-mine .mint-cell-allow-right::after{
	border: solid 2px white;
  border-bottom-width: 0;
  border-left-width: 0;
}

.picker-item.picker-selected{
	color: #FF5242;
}

.shopcar-cell .mint-cell-wrapper{
	background-image: none;
}

.mint-radio-input:checked + .mint-radio-core,.mint-switch-input:checked + .mint-switch-core {
  background-color: #e43a3d;
  border-color: #e43a3d;
}

.mint-checkbox-input:checked + .mint-checkbox-core {
	background-color: #e43a3d;
  border-color: #e43a3d;
}

.result .mint-cell:last-child {
	background-size: 0;
}

.result .mint-cell-wrapper {
	background-position: bottom left;
}