.g-hd
	media-backimage('../../../../assets/image/brg','png')
	background-repeat: no-repeat
	width: 100%
	color: white
	padding-top: 50px
	padding-bottom: 70px
	
.avatar
	border-radius: 100%
		
.notice
	padding-left: 10px
	
.score
	font-size: 20px
	font-weight: 400
	color: #FF5344
	position: relative
	top: 2px
	
.bg-white
	background-color: white
	
.mt-8
	margin-bottom: 8px