.inner-main
	height: 100%
	padding-top: 60px
	
.history
	margin-top: 10px
	
.del
	font-size: 24px
	
.badge
	margin-left: 6px
	font-size: 14px
	height: 26px
	line-height: 26px
	border-radius: 30px
	margin-top: 13px
	margin-bottom: 16px
	
.badge a
	color: #333
	
.result
	position: absolute
	top: 96px
	width: 100%
	max-width: 750px
	margin: 0 auto
	
.badge-cell .mint-cell-wrapper
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), color-stop(50%, #eee), color-stop(50%, transparent))
	background-image: linear-gradient(180deg, #eee, #eee 50%, transparent 50%)
	