.inner-main
	height: 100%
	padding-top: 96px

.header
	background-color: #EAEAEA
	color: #333
	height: 40px
	line-height: 40px
	
.mint-search
	height: auto
	
.search
	position: fixed
	z-index: 10
	top: 40px
	margin: 0 auto
	width: 100%
	max-width: 750px
	
.history
	margin-top: 10px
	
.del
	font-size: 24px
	
.badge
	color: #b3b3b3
	margin-left: 6px
	font-size: 12px
	height: 26px
	line-height: 26px
	border-radius: 30px
	margin-top: 13px
	margin-bottom: 16px
	
.badge a
	color: #b3b3b3
	
.result
	position: absolute
	top: 96px
	width: 100%
	max-width: 750px
	margin: 0 auto
	
.badge-cell .mint-cell-wrapper
	background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), color-stop(50%, #eee), color-stop(50%, transparent))
	background-image: linear-gradient(180deg, #eee, #eee 50%, transparent 50%)