.inner-main
	padding-bottom: 80px

.header
	background-color: #EAEAEA
	color: #333
	height: 40px
	line-height: 40px
	
.ml-10
	margin-left: 10px
	
.nav-btn
	background-color: #eaeaea
	margin: 0px 10px
	box-shadow: none
	
.btn
	height 30px
	line-height: 30px
	background-color: #fafafa
	border-radius: 3px
	font-size: 14px
	margin-left: 10px
	margin-right: 10px
	margin-top: 12px
	margin-bottom: 4px	
	
.search
	background-color: #f5f5f5
	padding: 0
	
.mint-search
	padding: 0
	height: 0vh
	
.w-100
	width: 100%
	
.order-area
	padding: 10px 10px 0px 10px
	
.order-wrapper
	display: flex
	padding: 15px 10px
	background-color: white
	border-top: #f5f5f5 solid 1px
	
.order-image
	width: 160px
	margin-right: 10px

.order-image img
	margin-right: 5px
	
.image-more
	background-color: #eee
	height: 60px
	line-height: 60px
	display: inline-block
	vertical-align: top
	padding-left: 2px
	padding-right: 2px
	margin-left: -5px
	
.order-info
	flex: 1	
	
.order-good
	display: flex
	line-height: 60px	
	
.good-price
	width: 60px
	color: #E43A3D
	
.good-count
	flex: 1
	color: #333
	
.order-time
	color: #d2d2d2
	position: absolute
	right: 0
	bottom: 10px
	
.cus-index
	max-height: 500px
	overflow: auto
	
.btn-sure
	border-radius: 0
	
.status-cur
	color: #f54100