.g-hd
	background:linear-gradient(-45deg,rgba(255,122,110,1),rgba(255,82,66,1))
	width: 100%
	color: white
	padding-top: 50px
	padding-bottom: 70px
	
.avatar
	border-radius: 100%
	margin-bottom: 10px
		
.notice
	padding-left: 10px
	
.score
	font-size: 20px
	font-weight: 400
	color: #FF5344
	position: relative
	top: 2px
	
.bg-white
	background-color: white
	
.mt-8
	margin-bottom: 8px
	
.user-icon
	position: relative
	top: -1px	
	
.color-white
	color: white