.g-hd
	media-backimage('../../../../assets/image/brg','png')
	background-repeat: no-repeat
	width: 100%
	color: white
	padding-top: 20px
	padding-bottom: 30px
	
.mint-cell
	background: none
	
.avatar
	border-radius: 100%

.money
	padding-left: 10px
	dt
		font-weight: 400
		line-height: 35px
		opacity: 0.6
	dd
		font-size: 33px
		font-weight: 400
		
.notice
	padding-left: 10px
	
.score
	font-size: 20px
	font-weight: 400
	color: #FF5344
	position: relative
	top: 2px
	
.bg-white
	background-color: white
	
.mt-8
	margin-bottom: 8px