.inner-main
	padding-top: 60px

.header
	background-color: #EAEAEA
	color: #333
	line-height: 40px
	margin: 0 auto
	width: 100%
	max-width: 750px
	
.hot-title
	font-size: 16px
	font-family: MicrosoftYaHei
	font-weight: 400
	color: rgba(51,51,51,1)
	
.hots
	margin-block-start: 0
	margin-block-end: 0
	padding-inline-start: 0
	
.hot
	background-color: white
	padding: 10px
	margin-left: 5px
	margin-right: 5px
	margin-bottom: 10px
	width: calc((100% - 80px)/2)
	
.hot-image
	width: 100%
	
.hot-name
	margin-block-start: 0em
	margin-block-end: 0em
	color: #333
	margin-bottom: 5px
	
.hot-badge
	color: #b3b3b3
	
.hot-sold
	margin-top: 5px
	color: #E43A3D	
	
.nomore
	color: #C9CAD3	